.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
  align-self: flex-start;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    grid-area: title;
    max-width: 340px;
  }
}
