@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__pic/header__pic.css);
@import url(./blocks/header/__subtitle/header__subtitle.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/intro/__paragraphs/intro__paragraphs.css);
@import url(./blocks/intro/__paragraph/intro__paragraph.css);
@import url(./blocks/intro/__paragraph-descriptive/intro__paragraph-descriptive.css);
@import url(./blocks/intro/__title/intro__title.css);
@import url(./blocks/pictures/pictures.css);
@import url(./blocks/pictures/__item/pictures__item.css);
@import url(./blocks/pictures/__container/pictures__container.css);
@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__artist/place__artist.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__paragraph/place__paragraph.css);
@import url(./blocks/place/__paragraphs/place__paragraphs.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__url-heading/place__url-heading.css);
@import url(./blocks/place/__website/place__website.css);
@import url(./blocks/button/__paragraph/button__paragraph.css);
@import url(./blocks/button/button.css);
@import url(./blocks/cover/cover.css);
@import url(./blocks/cover/__background/cover__background.css);
@import url(./blocks/cover/__buy-items/cover__buy-items.css);
@import url(./blocks/cover/__overlay/cover__overlay.css);
@import url(./blocks/cover/__subtitle/cover__subtitle.css);
@import url(./blocks/cover/__subtitle-container/cover____subtitle-container.css);
@import url(./blocks/cover/__title/cover__title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
