.cover {
  padding-top: 64px;
  padding-bottom: 64px;
}

.cover .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 198px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
}
