.cover__background {
  width: 320px;
  height: 254px;
  background-image: url(../../../images/__overlay.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .cover__background {
    width: 768px;
    height: 746px;
  }
}
@media screen and (min-width: 768px) {
  .cover__background {
    width: 1184px;
    height: 740px;
  }
}
