.place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title website"
      "image paragraphs"
      "boton .";
    align-items: center;
    gap: 28px;
    padding-bottom: 120px;
  }
  .place:nth-last-child(2) {
    padding-bottom: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .place:nth-child(3) .place__title {
    max-width: 584px;
  }
  .place:nth-last-child(2) {
    padding-bottom: 120px;
  }
}
